.daily__name {
    width: 59px;
    margin: 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;

    letter-spacing: 0.4px;
    text-transform: uppercase;

    color: #B6BCBF;
}

.daily__name_ox {
    width: 192px;
    margin-left: 45px;
}

@media (min-width: 320px) and (max-width: 424px) {
    .daily__name_ox {
        width: 176px;
        margin-left: 16px;
    }
}