.table__graph {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 49px;
}

@media (min-width: 320px) and (max-width: 767px) {
    .table__graph {
        margin-left: -8px;
    }
}