.card__image {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .card__image {
        height: 152px;
    }
}

@media (min-width: 320px) and (max-width: 424px) {
    .card__image {
        width: 288px;
        height: 196px;
    }
}