.about__description {
    max-width: 600px;
    margin-top: 51px;
    margin-left: 56px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .about__description {
        max-width: 600px;
        margin-top: 0;
        margin-left: 32px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .about__description {
        max-width: 424px;
        margin-top: 0;
        margin-left: 32px;
    }
}

@media (min-width: 425px) and (max-width: 767px) {
    .about__description {
        max-width: 380px;
        margin: 0;
        margin-bottom: 30px;
    }
}

@media (min-width: 320px) and (max-width: 424px) {
    .about__description {
        max-width: 290px;
        margin: 0;
        margin-bottom: 30px;
    }
}