.about__avatar {
    width: 464px;
    height: 464px;

    background-image: url('../../../images/avatar.png');
    background-size: cover;
    border-radius: 1000px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .about__avatar {
        width: 232px;
        height: 232px;
    }
}

@media (min-width: 320px) and (max-width: 424px) {
    .about__avatar {
        width: 272px;
        height: 272px;
        margin: auto;
    }
}