.card__image {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: 272px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .card__image {
        height: 185px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .card__image {
        height: 152px;
    }
}

@media (min-width: 425px) and (max-width: 767px) {
    .card__image {
        width: 380px;
        height: 226px;
    }
}

@media (min-width: 320px) and (max-width: 424px) {
    .card__image {
        width: 288px;
        height: 196px;
    }
}