.header__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    color: #ffffff;
    text-decoration: none;
    border-bottom: 3px solid #ffffff;
}

.header__link-b {
    color: #000000;
}

.header__link_about {
    font-weight: normal;
    margin-left: 34px;
    border: none;
    color: #B6BCBF;
}

.header__link_about:hover {
    color: #ffffff;
}

.header__link-b {
    font-weight: normal;
    color: #B6BCBF;
}

#about .header__link_about {
    font-weight: 500;
    color: #1A1B22;
    border-bottom: 3px solid #1A1B22;
}

#about .header__link:hover {
    color: #1A1B22;
}

#analytics .header__link-b {
    color: #B6BCBF;
    font-weight: normal;
}

#analytics .header__link-b:hover {
    color: #1A1B22;
}

@media (min-width: 320px) and (max-width: 424px) {
    .header__link {
        font-size: 16px;
    }
    .header__link_about {
        margin-left: 11px;
    }
}