.header__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    color: #ffffff;
    text-decoration: none;
}

.header__link-b {
    color: #000000;
}

.header__link_about {
    margin-left: 34px;
}

@media (min-width: 320px) and (max-width: 424px) {
    .header__link {
        font-size: 16px;
    }
    .header__link_about {
        margin-left: 11px;
    }
}