@import url('../vendor/normalize.css');
@import url('../vendor/fonts.css');
@import url('../blocks/header/header.css');
@import url('../blocks/about/about.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/card/card.css');
@import url('../blocks/intro/intro.css');
@import url('../blocks/not-found/not-found.css');
@import url('../blocks/preloader/preloader.css');
@import url('../blocks/results/results.css');
@import url('../blocks/button/button.css');

body {
    overflow-x: hidden;
}

.page {
    margin: auto;
    position: relative;
}
