.tech__content {
    width: 1235px;
    margin: auto;

    display: flex;
    justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .tech__content {
        width: 686px;
        flex-direction: column;
    }
}

@media (min-width: 320px) and (max-width: 424px) {
    .tech__content {
        width: 290px;
        flex-direction: column;
    }
}