.card__text {
    margin: 0;
    margin-top: 16px;
    margin-bottom: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: #1A1B22;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .card__text {
        display: block;
        width: 192px;
        height: 88px;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-top: 10px;
        margin-bottom: 12px;
    }
}

@media (min-width: 425px) and (max-width: 767px) {
    .card__text {
        width: 356px;
        margin-top: 10px;
        margin-bottom: 12px;
    }
}

@media (min-width: 320px) and (max-width: 424px) {
    .card__text {
        width: 256px;
        display: block;
        height: 88px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 10px;
        margin-bottom: 5px;
    }
}