.header__logo {
    margin-top: 30px;
    margin-bottom: 26px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: #ffffff;
    text-decoration: none;
}

.header_about .header__logo {
    color: #000000;
}

.header_analytics .header__logo {
    color: #000000;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .header__logo {
        margin-top: 22px;
        margin-bottom: 18px;
    }
}

@media (min-width: 320px) and (max-width: 424px) {
    .header__logo {
        margin-top: 16px;
        margin-bottom: 16px;

        font-size: 16px;
        line-height: 24px;
    }
}