.commit__text {
    width: 352px;
    margin: 0;
    margin: auto;
    margin-top: 16px;
    padding-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 90px;
    white-space: pre-line;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: #1A1B22;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .commit__text {
        max-width: 296px;
    }
}

@media (min-width: 320px) and (max-width: 424px) {
    .commit__text {
        max-width: 246px;
    }
}