.intro__search {
    width: 608px;
    height: 64px;
    position: relative;
    margin-top: 64px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .intro__search {
        width: 448px;
        height: 56px;
        margin-top: 24px;
    }
}

@media (min-width: 320px) and (max-width: 424px) {
    .intro__search {
        width: 290px;
        height: 56px;
        margin-top: 24px;
    }
}