.results__heading {
    width: 1235px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .results__heading {
        width: 910px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .results__heading {
        width: 686px;
    }
}

@media (min-width: 425px) and (max-width: 767px) {
    .results__heading {
        width: 380px;
        flex-direction: column;
    }
}

@media (min-width: 320px) and (max-width: 424px) {
    .results__heading {
        width: 290px;
        flex-direction: column;
    }
}