@import url('./__avatar/commit__avatar.css');
@import url('./__date/commit__date.css');
@import url('./__head/commit__head.css');
@import url('./__mail/commit__mail.css');
@import url('./__main/commit__main.css');
@import url('./__name/commit__name.css');
@import url('./__text/commit__text.css');

.commit {
    width: 400px;
    margin-left: 16px;
    background: #FFFFFF;
    border-radius: 16px;
    cursor: pointer;
}