@import url('./__date/table__date.css');
@import url('./__graph/table__graph.css');
@import url('./__progress/table__progress.css');
@import url('./__value/table__value.css');

.table {
    display: flex;
}

@media (min-width: 320px) and (max-width: 767px) {
    .table {
        grid-gap: 24px;
        margin-top: 18px;
    }
}