@import url('./__link/header__link.css');
@import url('./__links/header__links.css');
@import url('./__logo/header__logo.css');
@import url('./__content/header__content.css');

.header {
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #c2c2c2;
}

.header_about {
    position: relative;
}

.header_analytics {
    position: relative;
}