@import url('./__subtitle/not-found__subtitle.css');
@import url('./__title/not-found__title.css');

.not-found {
    width: 100%;
    height: 374px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #F5F6F7;
}