.button {
    height: 64px;
    border-radius: 100px;
    outline: none;
    border: none;
    cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .button {
        height: 56px;
    }
}

@media (min-width: 320px) and (max-width: 424px) {
    .button {
        height: 56px;
    }
}